<div class="page-layout blank" fusePerfectScrollbar>
    <div class="accio-container">
        <div class="content-center">
            <div class="accio-container-300 mr-8" fuseperfectscrollbar="">
                <!-- <fuse-sidebar class="sidebar" name="mail-main-sidebar" position="left" lockedOpen="gt-md">
                    <div class="content" fusePerfectScrollbar [@animate]="{value:'*',params:{y:'50px'}}">
                    
                        <div class="nav material2">
                    
                            <div class="nav-subheader">{{ 'MAIL.FOLDERS' | translate }}</div>
                    
                            <div class="nav-item" *ngFor="let folder of folders">
                                <a class="nav-link" matRipple [routerLink]="'/apps/mail/' + folder.handle"
                                    [routerLinkActive]="['active', 'accent']">
                                    <mat-icon class="nav-link-icon" *ngIf="folder.icon">{{folder.icon}}</mat-icon>
                                    <span>{{folder.title}}</span>
                                </a>
                            </div>
                    
                            <div class="nav-subheader">{{ 'MAIL.FILTERS' | translate }}</div>
                    
                            <div class="nav-item" *ngFor="let filter of filters">
                                <a class="nav-link" matRipple [routerLink]="'/apps/mail/filter/' + filter.handle"
                                    [routerLinkActive]="['active', 'accent']">
                                    <mat-icon class="nav-link-icon" [ngClass]="filter.color" *ngIf="filter.icon">{{filter.icon}}</mat-icon>
                                    <span>Filter title</span>
                                </a>
                            </div>
                    
                            <div class="nav-subheader">Labeles</div>
                    
                            <div class="nav-item" *ngFor="let label of labels">
                                <a class="nav-link" matRipple [routerLink]="'/apps/mail/label/' + label.handle"
                                    [routerLinkActive]="['active', 'accent']">
                                    <mat-icon class="nav-link-icon" >label</mat-icon>
                                    <span>title</span>
                                </a>
                            </div>
                    
                        </div>
                    
                    </div>
                </fuse-sidebar> -->
                <div class="accio-content center p-24 pb-56 pr-sm-92 ps ps--active-y ">
                    <p>300px</p>
                </div>
            </div> 
            <div class="accio-container-850 mr-0" fuseperfectscrollbar="">
                <div class="accio-content center p-24 pb-56 pr-sm-92 ps ps--active-y ">
                    <p>850px</p>
                </div>
            </div> 
        </div>
    </div>
</div>


 
