<nucleus-template-header
    (saveClicked)="onSave()"
    (cancelClicked)="onCancel()"
    [breadcrumbs]="breadcrumbs"
    [showSaveBtn]="true"
    [saveBtnData]="{ text: 'save', icon: 'save'}"
    [showCancelBtn]="false"
    [cancelBtnData]="{ text: 'cancel', icon: ''}"
>
</nucleus-template-header>


<div class="accio-content center pb-56 ps ps--active-y d-block">
    <mat-progress-bar mode="indeterminate" class="settings-progress-bar" *ngIf="spinner"></mat-progress-bar>

    <div class="h2 mb-24 p-16">{{ 'site-settings' | translate }}</div>

    <form fxLayout="column" fxLayoutAlign="start"
        fxFlex="1 0 auto" name="settingsForm" [formGroup]="settingsForm" class="p-16">

        <ng-container *ngIf="!spinner">
            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                    <mat-label>{{ 'site-title' | translate }}</mat-label>
                    <input matInput formControlName="siteTitle" required>
                    <mat-icon matSuffix class="secondary-text">title</mat-icon>
                    <mat-error>{{ 'site-title' | translate }} {{ 'is-required' | translate }}!</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" fxFlex="70" class="pr-4">
                    <mat-label>{{ 'admin-email' | translate }}</mat-label>
                    <input matInput formControlName="adminEmail" required>
                    <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                    <mat-error>{{ 'admin-email' | translate }} {{ 'is-required' | translate }}!</mat-error>
                </mat-form-field>

            </div>

            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                <mat-form-field fxFlex="100">
                    <mat-select formControlName="defaultUserRole" placeholder="{{ 'default-user-role' | translate}}">
                        <mat-option
                            *ngFor="let userGroup of userGroups"
                            [value]="userGroup.slug">
                            {{ userGroup.name }}
                        </mat-option>
                    </mat-select>
                    <mat-error>{{ 'default-user-role' | translate}} {{ 'is-required' | translate }}!</mat-error>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                <mat-form-field fxFlex="100">
                    <mat-select formControlName="timezone" placeholder="{{ 'timezone' | translate}}">
                        <mat-option
                            *ngFor="let timezone of timezoneOptions"
                            [value]="timezone">
                            {{ timezone }}
                        </mat-option>
                    </mat-select>
                    <mat-error>{{ 'timezone' | translate}} {{ 'is-required' | translate }}!</mat-error>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                <mat-form-field fxFlex="50" class="pr-8">
                    <mat-select formControlName="homepageID" placeholder="{{ 'home-page' | translate}} ">
                        <mat-option
                            *ngFor="let page of pages"
                            [value]="page.postID">
                            {{ page.title }}
                        </mat-option>
                    </mat-select>
                    <mat-error>{{ 'home-page' | translate}} {{ 'is-required' | translate }}!</mat-error>
                </mat-form-field>

                <mat-form-field fxFlex="50" class="pl-8">
                    <mat-select formControlName="defaultLanguage" placeholder="{{ 'default-language' | translate }}">
                        <mat-option
                            *ngFor="let language of languages"
                            [value]="language.languageID">
                            {{ language.title }}
                        </mat-option>
                    </mat-select>
                    <mat-error>{{ 'default-language' | translate}} {{ 'is-required' | translate }}!</mat-error>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                <mat-form-field fxFlex="100">
                    <mat-select formControlName="activeTheme" placeholder="{{ 'active-theme' | translate}}">
                        <mat-option
                            *ngFor="let theme of themes"
                            [value]="theme">
                            {{ theme }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                <mat-slide-toggle class="accio-slide-toggle" formControlName="activateMobileTheme">{{ 'activate-mobile-theme' | translate}}</mat-slide-toggle>
            </div>
        </ng-container>
    </form>
</div>
