@import "../../scss/fuse";

$icon-color : #fff;
:host {

    .fuse-search-bar {
        //display: flex;
        //flex: 0 1 auto;
        //min-width: 90%;
        margin-top: 1%;
        height: 80%;
        font-size: 13px;

        @include media-breakpoint('xs') {
            height: 56px;
        }

        &.expanded {
            //position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 10;

            .fuse-search-bar-content {

                #fuse-search-bar-input {
                    display: flex;
                    //width: 30% !important;
                }

                .fuse-search-bar-collapser {
                    display: flex;
                }
            }
        }
    }

    body {

        &.fuse-search-bar-expanded {

            #toolbar {
                z-index: 999 !important;
            }
        }
    }
}
