@import "../../scss/fuse";

$icon-color : #fff;
$text-color : #fff;
$background-color : #3C82D8;
:host {

    .fuse-search-bar {
        //display: flex;
        //flex: 0 1 auto;
        //min-width: 90%;
        //margin-top: 1%;
        height: 80%;
        position: relative !important ;
        top: 10% !important;
        font-size: 13px !important;


        background-color: $background-color !important;

        @include media-breakpoint('xs') {
            height: 56px;
        }

        input {
            background-color: $background-color;
            position: relative !important;
            //bottom: 15% !important;
            height: 100% !important;
            width: 100% !important;
            -webkit-transition: background-color .3s ease-in-out;
            -moz-transition: background-color .3s ease-in-out ;
            -o-transition: background-color .3s ease-in-out;
            transition: background-color .3s ease-in-out;
        }

        input:focus {
            background-color:#fff;
        }
        input:focus::-webkit-input-placeholder {
            color: #c0c0c0;
        }

        input:focus:-ms-input-placeholder { /* Internet Explorer*/
            color: #c0c0c0;
        }

        input:focus::-ms-input-placeholder { /* Microsoft Edge */
            color: #c0c0c0;
        }

        label {
            position: relative !important;
            //bottom: 15% !important;
            height: 100% !important;
        }

        ::placeholder { /* Chrome, Firefox, Opera, Safari */
            color: $text-color;
            //opacity: 1; /* Firefox */
        }

        :-ms-input-placeholder { /* Internet Explorer*/
            color: $text-color;
        }

        ::-ms-input-placeholder { /* Microsoft Edge */
            color: $text-color;
        }

        &.expanded {
            //position: absolute;
            top: 0 !important;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 10;
            height: 40px !important;

            .fuse-search-bar-content {

                #fuse-search-bar-input {
                    display: flex;
                    //width: 30% !important;
                }

                .fuse-search-bar-collapser {
                    display: flex;
                }
            }
        }
    }

    body {

        &.fuse-search-bar-expanded {

            #toolbar {
                z-index: 999 !important;
            }
        }
    }
}
