@import "../../../../@fuse/scss/fuse";

$backgorund-color : #1669d0;
$text-color : #fff;

toolbar {
    position: relative;
    display: flex;
    flex: 0 0 auto;
    z-index: 4;
    height: 40px !important;

    &.below {
        z-index: 2;
    }
    .mat-toolbar {
        position: relative;
        //background: inherit !important;
        color: inherit !important;
        background-color: $backgorund-color !important;
        height: 40px !important;
    }

    .avatar {
        width: 30px !important;
        height: 30px !important;
    }

    .logo {
        display: flex;
        align-items: center;

        .logo-icon {
            width: 38px;
        }
    }

    .user-button,
    fuse-search-bar,
    .language-button,
    .chat-panel-toggle-button,
    .quick-panel-toggle-button {
        min-width: 40px;
        height: 40px;

        @include media-breakpoint('xs') {
            height: 40px;


        }
    }

    .navbar-toggle-button {
        min-width: 40px;
        height: 40px;
    }

    .toolbar-separator {
        height: 64px;
        width: 1px;

        @include media-breakpoint('xs') {
            height: 56px;
        }
    }
    .toolbar-right-side {
        width: 40% !important;
    }

    fuse-search-bar {
        width: 70% !important;
    }
}
