@import "../../../../@fuse/scss/fuse";

$backgorund-color : #1669d0;
$text-color : #fff;

toolbar {
    position: relative;
    display: flex;
    flex: 0 0 auto;
    z-index: 4;
    //height: 60px !important;

    &.below {
        z-index: 2;
    }

    .mat-toolbar {
        position: relative;
        color: $text-color !important;
        background-color: $backgorund-color !important;
        height: 60px !important;
    }

    mat-icon {
        color: #fff !important;
    }

    .avatar {
        min-width: 35px !important;
        height: 35px !important;
        width: 30%;
        margin: 0px !important;
    }

    .logo {
        display: flex;
        align-items: center;

        .logo-icon {
            width: 38px;
        }
    }



    //.user-button,
    fuse-search-bar,
    .language-button,
    .chat-panel-toggle-button,
    .quick-panel-toggle-button {

        min-width: 40px;
        height: 40px;
        @include media-breakpoint('xs') {
            height: 40px;
        }
    }

    .user-button {
        min-width: 40px;
        width: 40px;
        height: 30px;
    }

    .navbar-toggle-button {
        min-width: 40px;
        height: 40px;
    }

    .toolbar-separator {
        height: 64px;
        width: 1px;

        @include media-breakpoint('xs') {
            height: 56px;
        }
    }
    .toolbar-right-side {
        width: 40% !important;
    }

    .fuse-search-a {

        width: 70% !important;
        //float: right;
        //&.expanded {
        //
        //    width: 70% !important;
        //}
    }
}
