<div class="page-layout blank" fusePerfectScrollbar>
    <nucleus-template-header
        (saveClicked)="addNew()"
        (cancelClicked)="onCancel()"
        [breadcrumbs]="breadcrumbs"
        [showSaveBtn]="true"
        [saveBtnData]="{ text: 'Add New', icon: 'note_add'}"
        [showCancelBtn]="false"
        [cancelBtnData]="{ text: 'Cancel', icon: ''}"
    >
    </nucleus-template-header>

    <div class="accio-container">
        <div class="content-center">
            <div class="center pb-56 ps ps--active-y accio-container-1160" fuseperfectscrollbar="">

                <mat-card class = "mat-card-title" *ngIf="selection.selected.length == 0">
                    List of {{ postType | titlecase }} <span center></span>
                    <!--<mat-icon class = "table-header-icons">arrow_downward</mat-icon>-->
                </mat-card>
                <mat-card class="p-0" *ngIf="selection.selected.length > 0">
                    <div class="multi-selected-box main-list p-16">
                        <h2 class="m-0">
                            <span>{{ selection.selected.length }}</span>
                            Posts selected
                        </h2>
                        <button mat-icon-button (click)="removeSelection()">X</button>
                        <mat-icon (click)="bulkDelete()">delete</mat-icon>
                    </div>
                </mat-card>
                <!--<mat-card>-->
                <div class = "filter mat-card" >
                    <mat-chip-list>

                        <mat-chip color="primary" selected><mat-icon >add</mat-icon>  Add filter</mat-chip>

                    </mat-chip-list>

                </div>

                <div class="content">
                    <mat-card class = 'p-0 mat-card-content'>
                        <mat-progress-bar mode="indeterminate" *ngIf="spinner"></mat-progress-bar>
                        <div class="content-disabled" *ngIf="loadingSpinner">
                            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                        </div>

                        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 p-16" *ngIf="!spinner" (matSortChange)="customSort($event)">
                            <!-- Checkbox Column -->
                            <ng-container matColumnDef="select">
                                <th mat-header-cell *matHeaderCellDef>
                                    <mat-checkbox (change)="$event ? masterToggle() : null"
                                                  [checked]="selection.hasValue() && isAllSelected()"
                                                  [indeterminate]="selection.hasValue() && !isAllSelected()"
                                                  class="accio-checkbox">
                                    </mat-checkbox>
                                </th>
                                <td mat-cell *matCellDef="let row">
                                    <mat-checkbox (click)="$event.stopPropagation()"
                                                  (change)="$event ? selection.toggle(row) : null"
                                                  [checked]="selection.isSelected(row)"
                                                  class="accio-checkbox">
                                    </mat-checkbox>
                                </td>
                            </ng-container>

                            <!-- Position Column -->
                            <ng-container matColumnDef="postID">
                                <th mat-header-cell *matHeaderCellDef  mat-sort-header disableClear='true'> ID. </th>
                                <td mat-cell *matCellDef="let element" > {{element.postID}} </td>
                            </ng-container>

                            <!-- Name Column -->
                            <ng-container matColumnDef="title">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear='true'> Title </th>
                                <td mat-cell *matCellDef="let element"> {{element.title}} </td>
                            </ng-container>

                            <!-- Category Column -->
                            <ng-container matColumnDef="category">
                                <th mat-header-cell *matHeaderCellDef disableClear='true'> Category </th>
                                <td mat-cell *matCellDef="let element">
                                    <ng-container *ngIf="element.categories != undefined && element.categories[0] != undefined">
                                        {{ element.categories[0].title.en }}
                                    </ng-container>
                                </td>
                            </ng-container>

                            <!-- Published At Column -->
                            <ng-container matColumnDef="published">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear='true'> Published At </th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.published_at | date:'dd.MM.yy, h:mm a' }}
                                </td>
                            </ng-container>

                            <!-- Author Column -->
                            <ng-container matColumnDef="author">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear='true'> Author </th>
                                <td mat-cell *matCellDef="let element">
                                    <ng-container *ngIf="element.users != null">
                                        {{ element.users.firstName+' '+element.users.lastName }}
                                    </ng-container>
                                </td>
                            </ng-container>

                            <!-- Buttons Column -->
                            <ng-container matColumnDef="buttons">
                                <th mat-header-cell *matHeaderCellDef class="actions-column"></th>

                                <td mat-cell *matCellDef="let element; let i = index" class="actions-column-btn">
                                    <button mat-button [matMenuTriggerFor]="menu">
                                        <mat-icon class="secondary-text">more_vert</mat-icon>
                                    </button>
                                    <mat-menu #menu="matMenu">
                                        <button mat-menu-item (click)="edit(element.postID)">Edit</button>
                                        <button mat-menu-item (click)="openDialog(element.postID, i)">Delete</button>
                                    </mat-menu>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{selected: selection.isSelected(row)}">
                            </tr>
                        </table>

                        <mat-paginator [length]="totalSize"
                                       [pageSize]="pageSize"
                                       (page)="pageEvent = $event; onPaginateChange($event)"
                                       [pageSizeOptions]="[5, 10, 25, 50]"
                        >
                        </mat-paginator>

                    </mat-card>
                </div>
            </div>

        </div>
    </div>
</div>
