<nucleus-template-header
    (saveClicked)="onSave()"
    (cancelClicked)="onCancel()"
    [breadcrumbs]="breadcrumbs"
    [showSaveBtn]="true"
    [saveBtnData]="{ text: 'Save', icon: 'save'}"
    [showCancelBtn]="false"
    [cancelBtnData]="{ text: 'Cancel', icon: ''}"
>
</nucleus-template-header>
<div class="spinner" *ngIf="saveSpinner">
    <mat-spinner color="accent" [diameter]="60"></mat-spinner>
</div>
<div class="accio-content center pb-56 pr-sm-24 ps ps--active-y d-block">
    <mat-progress-bar mode="indeterminate" class="settings-progress-bar" *ngIf="spinner"></mat-progress-bar>
    <div class="h2 mb-24 p-16">Analytics Settings</div>
    <form fxLayout="column"
          fxLayoutAlign="start"
            fxFlex="1 0 auto"
          name="exampleForm"
          [formGroup]="analyticsForm"
          class="p-16"
          style="width: 100%;">

        <ng-container *ngIf="!spinner">

            <div class="card mb-12">
                <!-- PREVIEW -->
                <div class="card-preview">
                    <div class="fuse-card permalinks-card accent-200-bg">
                        <div class="p-16">
                            <div class="h4">Enter your Google Analytics tracking code below. You can also use Google Tag Manager instead by checking the relevant settings.</div>
                        </div>
                    </div>
                </div>
                <!-- / PREVIEW -->
            </div>

            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                <mat-form-field appearance="outline" fxFlex="100" class="pr-4">
                    <mat-label>Google Tracking Code</mat-label>
                    <input matInput formControlName="trackingCode" [placeholder]="'UA-'">
                    <mat-icon matSuffix class="secondary-text">code</mat-icon>
                    <mat-error>Google Tracking Code is required!</mat-error>
                </mat-form-field>

            </div>

            <mat-divider></mat-divider>

            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto" class="mb-12 mt-12">
                <mat-slide-toggle class="accio-slide-toggle" formControlName="useTagManager">Use Google Tag Manager Instead</mat-slide-toggle>
            </div>

            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                <mat-form-field appearance="outline" fxFlex="100" class="pr-4">
                    <mat-label>Google Tag Manager</mat-label>
                    <input matInput formControlName="tagManager">
                    <mat-icon matSuffix class="secondary-text">code</mat-icon>
                    <mat-error>Google Tag Manager is required!</mat-error>
                </mat-form-field>

            </div>
        </ng-container>

    </form>
</div>
