<div class="page-layout blank" fusePerfectScrollbar>

    <nucleus-template-header
        (saveClicked)="onSave()"
        (cancelClicked)="onCancel()"
        [breadcrumbs]="breadcrumbs"
        [showSaveBtn]="true"
        [saveBtnData]="{ text: 'Save', icon: 'save'}"
        [showCancelBtn]="true" [cancelBtnData]="{ text: 'Cancel', icon: ''}"
    >
    </nucleus-template-header>
    <div class="accio-container">
        <div class="content-center">
            <div class="center ps ps--active-y accio-container-1160" fuseperfectscrollbar="">
                <div class="content">

                    <div class="accio-container">
                        <div class="content-center">
                            <div class="accio-container-1160" fuseperfectscrollbar="">
                                <div class="accio-content center p-24 pb-56 pr-24 ps ps--active-y p-sm-10 pr-sm-10">
                                    <form fxLayout="column" fxLayoutAlign="start"
                                          fxFlex="1 0 auto" name="exampleForm" [formGroup]="usersForm">


                                        <!--{{ _userModel | json}}-->

                                        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                                            <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                                                <mat-label>Name</mat-label>
                                                <input matInput formControlName="firstName" required >
                                                <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                                                <mat-error>First Name is required!</mat-error>
                                            </mat-form-field>

                                            <mat-form-field appearance="outline" fxFlex="50" class="pl-4">
                                                <mat-label>Last name</mat-label>
                                                <input matInput formControlName="lastName"  required>
                                                <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                                                <mat-error>Last Name is required!</mat-error>
                                            </mat-form-field>

                                        </div>

                                        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                                            <mat-form-field appearance="outline" fxFlex="50" class="pl-4">
                                                <mat-label>Email</mat-label>
                                                <input matInput formControlName="email" required>
                                                <mat-error>Email is <strong>required</strong></mat-error>
                                            </mat-form-field>

                                        </div>



                                        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                                            <mat-form-field appearance="outline" fxFlex="50" class="pl-4">
                                                <mat-label>Phone</mat-label>
                                                <input matInput formControlName="phone"  >
                                                <mat-icon matSuffix class="secondary-text">phone</mat-icon>
                                                <mat-error>Email is <strong>required</strong></mat-error>
                                            </mat-form-field>

                                        </div>



                                        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                                            <mat-form-field appearance="outline" fxFlex="50">
                                                <mat-label>Street</mat-label>
                                                <input matInput formControlName="street"  >
                                            </mat-form-field>

                                            <mat-form-field appearance="outline" fxFlex="50" class="px-8">
                                                <mat-label>Country</mat-label>
                                                <input matInput formControlName="country"   >
                                            </mat-form-field>


                                        </div>


                                        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                            <mat-slide-toggle formControlName="isActive">Is Active
                                            </mat-slide-toggle>
                                        </div>

                                        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                            <mat-form-field appearance="outline" fxFlex="100">
                                                <mat-label>Groups</mat-label>
                                                <mat-select placeholder="Groups" formControlName="groups"  multiple>
                                                    <mat-option *ngFor="let role of rolesList" >{{role}}</mat-option>
                                                </mat-select>
                                            </mat-form-field>

                                        </div>
                                        <mat-label>About</mat-label>
                                        <div fxLayout="row" fxLayoutAlign="center"  >
                                            <div [froalaEditor] formControlName="about" fxFlex="95" ></div>
                                        </div>

                                    </form>
                                </div>
                            </div>
                            <!--<div class="accio-container-300">-->
                               <!---->
                            <!--</div>-->
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>



