<div class="page-layout blank" fusePerfectScrollbar>
        <nucleus-template-header
        (saveClicked)="onSave()"
        (cancelClicked)="onCancel()"
        [breadcrumbs]="breadcrumbs"
        [showSaveBtn]="true"
        [saveBtnData]="{ text: 'Save', icon: 'save'}"
        [showCancelBtn]="true"
        [cancelBtnData]="{ text: 'Cancel', icon: ''}"
    >
    </nucleus-template-header>
    <div class="accio-container">
            <div class="content-center">
                <form name="postForm" [formGroup]="postForm">
                    <div class="accio-container-1160 item-title-container" fuseperfectscrollbar="">
                        <mat-form-field class="example-full-width" fxFlex="100" class="pr-4">
                            <input matInput formControlName="title" placeholder="Title" required>
                            <mat-error>Title is required!</mat-error>
                        </mat-form-field>
                    </div>

                    <div class="accio-container-850" fuseperfectscrollbar="">
                        <div [froalaEditor]='options' formControlName="content" class="mb-20">Hello, Froala!</div>
                    </div>

                    <div class="accio-container-300" fuseperfectscrollbar="">
                        <div class="expansion-panel-seperator">
                            <mat-accordion>
                                <mat-expansion-panel>
                                    <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <mat-icon class="pr-sm-32">notes</mat-icon>
                                        Categories & Tags
                                    </mat-panel-title>
                                    </mat-expansion-panel-header>

                                    <mat-form-field>
                                        <mat-select placeholder="Categories" formControlName="postCategory" multiple>
                                            <mat-option *ngFor="let category of categories" [value]="category">{{category}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <mat-divider></mat-divider>

                                    <mat-form-field>

                                        <mat-select placeholder="Tags" formControlName="postTag" multiple>
                                                <mat-option *ngFor="let tag of tags" [value]="tag">{{tag}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </mat-expansion-panel>
                            </mat-accordion>
                        </div>

                        <div class="expansion-panel-seperator">
                            <mat-accordion>
                                <mat-expansion-panel>
                                    <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <mat-icon class="pr-sm-32">account_circle</mat-icon>
                                        Author
                                    </mat-panel-title>
                                    </mat-expansion-panel-header>

                                    <p>Lorem Ipsum</p>
                                </mat-expansion-panel>
                            </mat-accordion>
                        </div>

                        <div class="expansion-panel-seperator">
                            <mat-accordion>
                                <mat-expansion-panel>
                                    <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <mat-icon class="pr-sm-32">visibility</mat-icon>
                                        Visibility
                                    </mat-panel-title>
                                    </mat-expansion-panel-header>

                                    <mat-form-field>
                                        <mat-select placeholder="Status">
                                            <mat-option *ngFor="let status of statuses" [value]="status">
                                                {{ status }}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>

                                </mat-expansion-panel>
                            </mat-accordion>
                            <mat-accordion>
                                <mat-expansion-panel>
                                    <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <mat-icon class="pr-sm-32">wallpaper</mat-icon>
                                        Media
                                    </mat-panel-title>
                                    </mat-expansion-panel-header>

                                    <mat-form-field>
                                    <input matInput placeholder="First name">
                                    </mat-form-field>
                                </mat-expansion-panel>
                            </mat-accordion>
                        </div>

                    </div>

                    <div class="accio-container-850" fuseperfectscrollbar="">
                        <h2 class="panel-title mt-0">Plugins</h2>
                        <mat-accordion>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <mat-icon class="pr-sm-32">account_circle</mat-icon>
                                    Plugin 1
                                </mat-panel-title>
                                </mat-expansion-panel-header>

                                <p>Lorem Ipsum</p>
                            </mat-expansion-panel>
                            <mat-expansion-panel>
                                    <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <mat-icon class="pr-sm-32">wallpaper</mat-icon>
                                        Plugin 2
                                    </mat-panel-title>
                                    </mat-expansion-panel-header>

                                    <p>Lorem Ipsum</p>
                                </mat-expansion-panel>
                        </mat-accordion>

                        <h2 class="panel-title">Custom Fields</h2>
                        <mat-accordion>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <mat-icon class="pr-sm-32">account_circle</mat-icon>
                                    Author
                                </mat-panel-title>
                                </mat-expansion-panel-header>

                                <p>Lorem Ipsum</p>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </div>
                </form>
            </div>
        </div>
</div>
