<nucleus-template-header
    (saveClicked)="onSave()"
    (cancelClicked)="onCancel()"
    [breadcrumbs]="breadcrumbs"
    [showSaveBtn]="true"
    [saveBtnData]="{ text: 'Save', icon: 'save'}"
    [showCancelBtn]="false"
    [cancelBtnData]="{ text: 'Cancel', icon: ''}"
>
</nucleus-template-header>

<div class="accio-content center pb-56 ps ps--active-y d-block">

    <mat-progress-bar mode="indeterminate" class="settings-progress-bar" *ngIf="spinner"></mat-progress-bar>

    <div class="h2 mb-24 p-16">Permalink Settings</div>

    <form fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto">
        <div *ngIf="!spinner" fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto" class="mb-20 p-16">
            <mat-tab-group fxFlex="100">
                <mat-tab label="Post Articles">
                    <div class="item-wrapper" *ngFor="let permalink of data['post_articles']; let i = index">
                        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                            <h2>{{ permalink.name | titlecase }}</h2>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                            <mat-form-field appearance="outline" fxFlex="100" class="pr-4">
                                <mat-label>Custom URL</mat-label>
                                <input
                                        matInput
                                       [(ngModel)]="permalink.custom_url"
                                        [ngModelOptions]="{standalone: true}"
                                        [placeholder]="'Default URL: '+ permalink.default_url">
                                <mat-icon matSuffix class="secondary-text">link</mat-icon>
                            </mat-form-field>

                        </div>
                        <div class="card mb-12">
                            <!-- PREVIEW -->
                            <div class="card-preview">
                                <div class="fuse-card accio-info-card accent-200-bg">
                                    <div class="p-16">
                                        <div class="h3">URL parameters allowed : {{ permalink.acceptedParameters }}</div>
                                    </div>
                                </div>
                            </div>
                            <!-- / PREVIEW -->

                        </div>
                        <mat-divider *ngIf="i < (data['post_articles'].length - 1)"></mat-divider>
                    </div>
                </mat-tab>


                <mat-tab label="Category">
                    <div class="item-wrapper" *ngFor="let permalink of data['category']; let i = index">
                        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                            <h2>{{ permalink.name | titlecase }}</h2>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                            <mat-form-field appearance="outline" fxFlex="100" class="pr-4">
                                <mat-label>Custom URL</mat-label>
                                <input
                                    matInput
                                    [(ngModel)]="permalink.custom_url"
                                    [ngModelOptions]="{standalone: true}"
                                    [placeholder]="'Default URL: '+ permalink.default_url">
                                <mat-icon matSuffix class="secondary-text">link</mat-icon>
                            </mat-form-field>

                        </div>
                        <div class="card mb-12">
                            <!-- PREVIEW -->
                            <div class="card-preview">
                                <div class="fuse-card accio-info-card accent-200-bg">
                                    <div class="p-16">
                                        <div class="h3">URL parameters allowed : {{ permalink.acceptedParameters }}</div>
                                    </div>
                                </div>
                            </div>
                            <!-- / PREVIEW -->

                        </div>
                        <mat-divider *ngIf="i < (data['post_articles'].length - 1)"></mat-divider>
                    </div>
                </mat-tab>

                <mat-tab label="Tag">
                    <div class="item-wrapper" *ngFor="let permalink of data['tag']; let i = index">
                        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                            <h2>{{ permalink.name | titlecase }}</h2>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                            <mat-form-field appearance="outline" fxFlex="100" class="pr-4">
                                <mat-label>Custom URL</mat-label>
                                <input
                                    matInput
                                    [(ngModel)]="permalink.custom_url"
                                    [ngModelOptions]="{standalone: true}"
                                    [placeholder]="'Default URL: '+ permalink.default_url">
                                <mat-icon matSuffix class="secondary-text">link</mat-icon>
                            </mat-form-field>

                        </div>
                        <div class="card mb-12">
                            <!-- PREVIEW -->
                            <div class="card-preview">
                                <div class="fuse-card accio-info-card accent-200-bg">
                                    <div class="p-16">
                                        <div class="h3">URL parameters allowed : {{ permalink.acceptedParameters }}</div>
                                    </div>
                                </div>
                            </div>
                            <!-- / PREVIEW -->

                        </div>
                        <mat-divider *ngIf="i < (data['post_articles'].length - 1)"></mat-divider>
                    </div>
                </mat-tab>

                <mat-tab label="User">
                    <div class="item-wrapper" *ngFor="let permalink of data['user']; let i = index">
                        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                            <h2>{{ permalink.name | titlecase }}</h2>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                            <mat-form-field appearance="outline" fxFlex="100" class="pr-4">
                                <mat-label>Custom URL</mat-label>
                                <input
                                    matInput
                                    [(ngModel)]="permalink.custom_url"
                                    [ngModelOptions]="{standalone: true}"
                                    [placeholder]="'Default URL: '+ permalink.default_url">
                                <mat-icon matSuffix class="secondary-text">link</mat-icon>
                            </mat-form-field>

                        </div>
                        <div class="card mb-12">
                            <!-- PREVIEW -->
                            <div class="card-preview">
                                <div class="fuse-card accio-info-card accent-200-bg">
                                    <div class="p-16">
                                        <div class="h3">URL parameters allowed : {{ permalink.acceptedParameters }}</div>
                                    </div>
                                </div>
                            </div>
                            <!-- / PREVIEW -->

                        </div>
                        <mat-divider *ngIf="i < (data['post_articles'].length - 1)"></mat-divider>
                    </div>
                </mat-tab>

                <mat-tab label="Search">
                    <div class="item-wrapper" *ngFor="let permalink of data['search']; let i = index">
                        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                            <h2>{{ permalink.name | titlecase }}</h2>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                            <mat-form-field appearance="outline" fxFlex="100" class="pr-4">
                                <mat-label>Custom URL</mat-label>
                                <input
                                    matInput
                                    [(ngModel)]="permalink.custom_url"
                                    [ngModelOptions]="{standalone: true}"
                                    [placeholder]="'Default URL: '+ permalink.default_url">
                                <mat-icon matSuffix class="secondary-text">link</mat-icon>
                            </mat-form-field>

                        </div>
                        <div class="card mb-12">
                            <!-- PREVIEW -->
                            <div class="card-preview">
                                <div class="fuse-card accio-info-card accent-200-bg">
                                    <div class="p-16">
                                        <div class="h3">URL parameters allowed : {{ permalink.acceptedParameters }}</div>
                                    </div>
                                </div>
                            </div>
                            <!-- / PREVIEW -->

                        </div>
                        <mat-divider *ngIf="i < (data['post_articles'].length - 1)"></mat-divider>
                    </div>
                </mat-tab>

                <mat-tab label="Base">
                    <div class="item-wrapper" *ngFor="let permalink of data['base']; let i = index">
                        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                            <h2>{{ permalink.name | titlecase }}</h2>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                            <mat-form-field appearance="outline" fxFlex="100" class="pr-4">
                                <mat-label>Custom URL</mat-label>
                                <input
                                    matInput
                                    [(ngModel)]="permalink.custom_url"
                                    [ngModelOptions]="{standalone: true}"
                                    [placeholder]="'Default URL: '+ permalink.default_url">
                                <mat-icon matSuffix class="secondary-text">link</mat-icon>
                            </mat-form-field>

                        </div>
                        <div class="card mb-12">
                            <!-- PREVIEW -->
                            <div class="card-preview">
                                <div class="fuse-card accio-info-card accent-200-bg">
                                    <div class="p-16">
                                        <div class="h3">URL parameters allowed : {{ permalink.acceptedParameters }}</div>
                                    </div>
                                </div>
                            </div>
                            <!-- / PREVIEW -->

                        </div>
                        <mat-divider *ngIf="i < (data['post_articles'].length - 1)"></mat-divider>
                    </div>
                </mat-tab>

                <mat-tab label="Post Pages">
                    <div class="item-wrapper" *ngFor="let permalink of data['post_pages']; let i = index">
                        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                            <h2>{{ permalink.name | titlecase }}</h2>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                            <mat-form-field appearance="outline" fxFlex="100" class="pr-4">
                                <mat-label>Custom URL</mat-label>
                                <input
                                    matInput
                                    [(ngModel)]="permalink.custom_url"
                                    [ngModelOptions]="{standalone: true}"
                                    [placeholder]="'Default URL: '+ permalink.default_url">
                                <mat-icon matSuffix class="secondary-text">link</mat-icon>
                            </mat-form-field>

                        </div>
                        <div class="card mb-12">
                            <!-- PREVIEW -->
                            <div class="card-preview">
                                <div class="fuse-card accio-info-card accent-200-bg">
                                    <div class="p-16">
                                        <div class="h3">URL parameters allowed : {{ permalink.acceptedParameters }}</div>
                                    </div>
                                </div>
                            </div>
                            <!-- / PREVIEW -->

                        </div>
                        <mat-divider *ngIf="i < (data['post_articles'].length - 1)"></mat-divider>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>

        <!--<div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
            <mat-accordion fxFlex="100">
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon class="pr-sm-32">account_circle</mat-icon>
                        Author
                    </mat-panel-title>
                    </mat-expansion-panel-header>

                    <p>Lorem Ipsum</p>
                </mat-expansion-panel>
            </mat-accordion>
        </div>-->
    </form>
</div>
