/deep/.mat-tab-label, /deep/.mat-tab-label-active{
    min-width: 120px!important;
}

.item-wrapper{
    display: block !important;
}

.permalinks-card{
    //width: 100% !important;
    max-width: unset;
}
