<div class="page-layout blank" fusePerfectScrollbar>
    <nucleus-template-header
        (saveClicked)="onSave()"
        (cancelClicked)="onCancel()"
        [breadcrumbs]="breadcrumbs"
        [showSaveBtn]="true"
        [saveBtnData]="{ text: 'save', icon: 'save'}"
        [showCancelBtn]="true"
        [cancelBtnData]="{ text: 'cancel', icon: ''}"
    >
    </nucleus-template-header>

   <div class="accio-container">
        <div class="content-center">
            <div class="accio-container-850" fuseperfectscrollbar="">

                <div class="accio-content center pb-56 ps ps--active-y d-block">
                    <mat-progress-bar mode="indeterminate" *ngIf="spinner"></mat-progress-bar>
                    <form fxLayout="column" fxLayoutAlign="start"
                          fxFlex="1 0 auto" name="postTypeForm" [formGroup]="postTypeForm" *ngIf="!spinner" class="p-24">

                        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                            <mat-form-field appearance="outline" fxFlex="100" class="pr-4">
                                <mat-label>{{ 'name' | translate }}</mat-label>
                                <input matInput formControlName="name" required>
                                <mat-icon matSuffix class="secondary-text">label</mat-icon>
                                <mat-error>{{ 'name' | translate }} {{ 'is-required' | translate }}!</mat-error>
                            </mat-form-field>
                        </div>

                        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                            <mat-form-field appearance="outline" fxFlex="100" class="pl-4">
                                <mat-label>{{ 'slug' | translate }}</mat-label>
                                <input matInput formControlName="slug" required>
                                <mat-error>{{ 'slug' | translate }} {{ 'is-required' | translate }}!</mat-error>
                            </mat-form-field>
                        </div>

                    </form>
                </div>
            </div>

            <div class="accio-container-300" fuseperfectscrollbar="">
                <form name="postTypeForm" [formGroup]="postTypeForm" *ngIf="!spinner">

                    <div class="expansion-panel-seperator">
                        <mat-accordion>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <mat-icon class="pr-sm-32">visibility</mat-icon>
                                        {{ 'visibility' | translate}}
                                    </mat-panel-title>
                                </mat-expansion-panel-header>

                                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                    <mat-slide-toggle class="accio-slide-toggle" formControlName="isVisible">{{ 'visible' | translate}}</mat-slide-toggle>
                                </div>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </div>

                    <div class="expansion-panel-seperator">
                        <mat-accordion>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <mat-icon class="pr-sm-32">notes</mat-icon>
                                        {{ 'categories' | translate}}
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <div fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto">
                                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                        <mat-slide-toggle class="accio-slide-toggle" formControlName="hasCategories">{{ 'has-category' | translate}}</mat-slide-toggle>
                                    </div>

                                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                        <mat-slide-toggle class="accio-slide-toggle" formControlName="isCategoryRequired">{{ 'is-category-required' | translate}}</mat-slide-toggle>
                                    </div>
                                </div>
                            </mat-expansion-panel>

                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <mat-icon class="pr-sm-32">notes</mat-icon>
                                        {{ 'tags' | translate}}
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <div fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto">
                                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                        <mat-slide-toggle class="accio-slide-toggle" formControlName="hasTags">{{ 'has-tag' | translate}}</mat-slide-toggle>
                                    </div>

                                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                        <mat-slide-toggle class="accio-slide-toggle" formControlName="isTagRequired">{{ 'is-tag-required' | translate}}</mat-slide-toggle>
                                    </div>
                                </div>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </div>

                    <div class="expansion-panel-seperator">
                        <mat-accordion>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <mat-icon class="pr-sm-32">perm_media</mat-icon>
                                        {{ 'image' | translate}}
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <div fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto">
                                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                        <mat-slide-toggle class="accio-slide-toggle" formControlName="hasFeaturedImage">{{ 'featured-image' | translate}}</mat-slide-toggle>
                                    </div>

                                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                        <mat-slide-toggle class="accio-slide-toggle" formControlName="isFeaturedImageRequired">{{ 'is-featured-image-required' | translate}}
                                        </mat-slide-toggle>
                                    </div>
                                </div>
                            </mat-expansion-panel>

                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <mat-icon class="pr-sm-32">videocam</mat-icon>
                                        {{ 'video' | translate}}
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <div fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto">
                                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                        <mat-slide-toggle class="accio-slide-toggle" formControlName="hasFeaturedVideo">{{ 'featured-video' | translate}}</mat-slide-toggle>
                                    </div>

                                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                        <mat-slide-toggle class="accio-slide-toggle" formControlName="isFeaturedVideoRequired">{{ 'is-featured-video-required' | translate}}</mat-slide-toggle>
                                    </div>
                                </div>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>
