<div class="page-layout blank" fusePerfectScrollbar>
    <nucleus-template-header
        (saveClicked)="onSave()"
        (cancelClicked)="onCancel()"
        [breadcrumbs]="breadcrumbs"
        [showSaveBtn]="true"
        [saveBtnData]="{ text: 'Save', icon: 'save'}"
        [showCancelBtn]="true"
        [cancelBtnData]="{ text: 'Cancel', icon: ''}"
    >
    </nucleus-template-header>

    <div class="accio-container">
        <div class="content-center">
            <div class="accio-container-850" fuseperfectscrollbar="">
                <div class="accio-content center p-24 pb-56 pr-24 ps ps--active-y p-sm-10 pr-sm-10">
                    <form name="categoryForm">
                        <div *ngIf="!spinner" fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto" class="mb-20">
                            <mat-tab-group fxFlex="100">
                                <mat-tab *ngFor="let lang of languages" [label]="lang.title">
                                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                        <mat-form-field appearance="outline" fxFlex="100" class="pr-4 mt-12">
                                            <mat-label>Title</mat-label>
                                            <input matInput [(ngModel)]="form.title[lang.id]" [ngModelOptions]="{standalone: true}">
                                            <mat-icon matSuffix class="secondary-text">label</mat-icon>
                                            <mat-error>Title is required!</mat-error>
                                        </mat-form-field>
                                    </div>

                                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                        <mat-form-field appearance="outline" fxFlex="100">
                                            <mat-label>Slug</mat-label>
                                            <input matInput [(ngModel)]="form.slug[lang.id]" [ngModelOptions]="{standalone: true}" disabled>
                                            <mat-error>Slug is required!</mat-error>
                                        </mat-form-field>
                                    </div>

                                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                        <mat-form-field fxFlex="100">
                                            <mat-select [(ngModel)]="form.parent" [ngModelOptions]="{standalone: true}" placeholder="Search Categories">
                                                <mat-option>
                                                    <ngx-mat-select-search (keyup)="searchCategories(searchCatInput.value)" #searchCatInput></ngx-mat-select-search>
                                                </mat-option>
                                                <mat-option *ngFor="let category of parentCategories" [value]="category.categoryID">
                                                    {{category.title}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>


                                    <p>Description</p>
                                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                        <div [froalaEditor]='options' [(ngModel)]="form.description[lang.id]" [ngModelOptions]="{standalone: true}" class="mb-20" fxFlex="99" style="padding-left:1px;"></div>
                                    </div>

                                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                        <mat-slide-toggle class="accio-slide-toggle" [(ngModel)]="form.isVisible[lang.id]" [ngModelOptions]="{standalone: true}">Visible</mat-slide-toggle>
                                    </div>
                                </mat-tab>
                            </mat-tab-group>
                        </div>


                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
