<div class="page-layout blank p-24" fusePerfectScrollbar>
    <span>
        <h2>{{'USERS.USERS' | translate}}</h2>
    </span>
    <div class="accio-container">
        <div class="content-center">
            <div class="center p-24 pb-56 pr-sm-92 ps ps--active-y accio-container-1160" fuseperfectscrollbar="">
                <div class="content">
                    <p>1160px</p>
                </div>
            </div>

            <div class="center p-24 pb-56 pr-sm-92 ps ps--active-y accio-container-850" fuseperfectscrollbar="">
                <div class="content">
                    <p>850px</p>
                </div>
            </div> 
    
            <div class="center p-24 pb-56 pr-sm-92 ps ps--active-y accio-container-300" fuseperfectscrollbar="">
                <div class="content">
                    <p>300px</p>
                </div>
            </div> 
        </div>
        
    </div>
</div>


 
