@import '../../../../Shared/@fuse/scss/fuse';


.filter {
    height: 50px;
    background-color: #F5F5F5;

    mat-chip  {
        margin: 0;
        margin-top: 1% !important;
        left: 1%;

        color: black !important;
        background-color: unset !important;
        border: dotted .5px !important;
        font-weight: 100 ;
    }
}

.table-header-icons {
    float: right !important;
}

.content{
    display: flex;
    flex: 1 1 auto;
    width: 100%;

    mat-card {
        width: 100%;

    }





    table {
        width: 100%;
        background: transparent;
        box-shadow: none;

        .mat-column-checkbox {
            flex: 0 1 64px;
            padding-left: 18px;
        }

        .mat-column-avatar {
            flex: 0 1 64px;
        }

        .mat-column-buttons {
            flex: 0 1 80px;
        }

        .mat-column-buttons > button{
            //float: right;
        }jjj

        .mat-row {
            position: relative;
            cursor: pointer;
            padding: 8px;

            .mat-cell {
                min-width: 0;

                &.mat-column-detail-button {
                    flex: 0 1 auto;
                    padding: 0 24px 0 0;

                    @include media-breakpoint('gt-md') {
                        display: none;
                    }
                }
            }
        }
    }
}

#add-contact-button {
    position: absolute;
    bottom: 12px;
    right: 12px;
    padding: 0;
    z-index: 99;

    //@include media-breakpoint-down('xs') {
    //    position: sticky;
    //    top: calc(100vh - 72px);
    //    bottom: auto;
    //}
}
