@mixin nucleus-theme($theme) {
    $accio-container-background: #fff;
    $accio-container-border-color: #e0e0e0;
    $accio-container-border-radius: 5px;

    app-nucleus{
        .page-layout{
            @media screen and (max-width: 1470px) {
                padding: 20px;
            }
        }

        /*Add Default blue color*/
            .accio-blue{
                background: #4285f4 !important;
            }

            //Mat Slide
            .accio-slide-toggle{
                &.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb{
                    background: #4285f4;
                }

                &.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar{
                    background: rgba(66, 133, 244, 0.54);
                }
            }

            //Mat Progress
            .mat-progress-bar .mat-progress-bar-fill::after{
                background-color: #4285f4;
            }
            .mat-progress-bar .mat-progress-bar-buffer {
                background-color: #b8d0f8;
            }

            //checkbox
            .accio-checkbox{
                &.mat-checkbox-checked .mat-checkbox-background,
                &.mat-checkbox-indeterminate .mat-checkbox-background
                {
                    background-color: #4285f4;
                }
            }


            button{
                font-weight: normal;

                &.btn-accio-confirm{
                    background-color: #4285f4 !important;
                }
            }
        /*End of Default blue color*/

        .accio-container{
            overflow: hidden;
            width: 100%;
            margin-bottom: 20px;
            margin-top: 80px;

            .content-center{
                width: 1160px;
                margin: 0 auto;
            }

            h2{
                &.panel-title{
                    color: #aeadad;
                    margin-bottom: 5px;
                    text-transform: uppercase;
                    font-size: 16px;
                }
            }
            .mat-card-title{
                font-size: 20px;
                font-weight: bold;
                border-radius: 0px !important;
                margin: 0;
            }

            .mat-card-content {
                border-top-right-radius: 0px !important;
                border-top-left-radius: 0px !important;



                .selected {
                    background: #e8f0fe !important;
                }
            }


            .filter {
                //height: 50px;
                background-color: #F5F5F5;
                border-radius: 0px;
                padding: 0px;
                border: 0px;

                mat-chip  {
                    margin: 0px !important;

                    //margin-top: 1% !important;
                    left: 1%;
                    color: black !important;
                    background-color: unset !important;
                    border: dotted .5px !important;
                    font-weight: 100 ;
                }

                .mat-chip-list-wrapper {
                    height: 100%;
                }

            }
        }

        .accio-container-1160{
            width: 1160px;
            margin-bottom: 20px;
        }

        .accio-container-850{
            float: left;
            width: 850px;
            margin-right: 10px;
        }

        .accio-container-300{
            float: left;
            width: 300px;
        }

        .accio-container-250{
            float: left;
            width: 250px;
        }

        .accio-container-900{
            float: left;
            width: 900px;
        }

        .item-title-container{
            width: 850px;
            margin-bottom: 5px;
        }

        .accio-content{
            background-color: $accio-container-background;
            margin-bottom: 20px;
            border: 1px solid $accio-container-border-color;
            border-radius: $accio-container-border-radius;
            box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
        }

        .expansion-panel-seperator{
            margin-bottom: 20px;
        }

        @media only screen and (max-width: 1470px) {
            .accio-container{
                .content-center{
                    width: 100%;
                }
            }

            .accio-container-1160 {
                width: 100%;
            }

            .accio-container-850{
                width: 100%;
                float: none;
            }

            .accio-container-300{
                width: 100%;
                float: none;
            }

            .accio-container-250{
                width: 100%;
            }
            .accio-container-900{
                width: 100%;
            }
        }

        @media only screen and (max-width: 1200px) {
            .accio-container{
                .content-center{
                    width: 100%;
                }
            }

            .accio-content{
                padding-left: 12px !important;
                padding-right: 15px !important;
            }
        }


        i{
            &.fa{
                font-family: FontAwesome !important;
            }
        }
    }

    .filter {
        height: 50px;
        background-color: #F5F5F5;

        mat-chip  {
            margin: 0;
            margin-top: 1% !important;
            left: 1%;

            color: black !important;
            background-color: unset !important;
            border: dotted .5px !important;
            font-weight: 100 ;
        }
    }

    .table-header-icons {
        float: right !important;
    }

    .content{
        display: flex;
        flex: 1 1 auto;
        width: 100%;

        mat-card {
            width: 100%;

        }

        table {
            width: 100%;
            background: transparent;
            box-shadow: none;

            .mat-column-checkbox {
                flex: 0 1 64px;
                padding-left: 18px;
            }

            .mat-column-avatar {
                flex: 0 1 64px;
            }

            .mat-column-buttons {
                flex: 0 1 80px;
            }

            .mat-column-buttons > button{
                //float: right;
            }jjj

             .mat-row {
                 position: relative;
                 cursor: pointer;
                 padding: 8px;

                 .mat-cell {
                     min-width: 0;

                     &.mat-column-detail-button {
                         flex: 0 1 auto;
                         padding: 0 24px 0 0;

                         @include media-breakpoint('gt-md') {
                             display: none;
                         }
                     }
                 }
             }
        }
    }

    #add-contact-button {
        position: absolute;
        bottom: 12px;
        right: 12px;
        padding: 0;
        z-index: 99;
    }

    .actions-column{
        text-align: right;
    }

    .actions-column-btn{
        text-align: right;

        button{
            padding-right: 0px;
            padding-left: 0px;
        }
    }


    settings{
        .settings-content{
            nucleus-template-header{
                position: absolute;
                width: calc(100% );
                left: 0px;
                top: 2px;
            }
        }
    }

    div{
        &.spinner{
            position: absolute;
            z-index: 99;
            width: 100%;
            left: 0;
            height: 100%;
            top: 0px;
            background: rgba(0, 0, 0, 0.5);

            mat-spinner{
                width: 100px;
                height: 100px;
                margin: 0 auto;
                margin-top: 20%;
            }
        }
    }

    mat-spinner{
        &.center{
            margin: 0 auto;
        }
    }

    mat-card{
        &.no-shadow{
            box-shadow: unset !important;
        }
    }

    fuse-sidebar{
        .accio-sidebar-nav {
            .group-title{
                &:before{
                    color: #949494 !important;
                }
            }

            span {
                &.hint-text {
                    color: #949494 !important;
                    font-weight: normal;
                }
            }
        }
    }

    .blue-snackbar {
        background: #2196F3;
    }

    snack-bar-container{
        &.green-snackbar-bg{
            background-color: #8bc34a;
        }

        &.red-snackbar-bg{
            background-color: #dc3545;
        }

        span{
            color: #fff;
            opacity: 1;
        }
    }

    .multi-selected-box{
        background-color: #e8f0fe;
        overflow: hidden;

        &.main-list{
            padding: 18px !important;
        }

        h2{
            float: left;
            color: rgba(0,0,0,0.54);
            font-size: 16px;
            font-weight: 500;
        }

        button{
            margin-top: 1px;
            color: rgba(0,0,0,0.54);
            width: 20px;
            height: 20px;
            line-height: 20px;
        }

        mat-icon{
            float: right;
            cursor: pointer;
            color: rgba(0,0,0,0.54);
        }
    }

    .content-disabled{
        position: absolute;
        width: 100%;
        height: 100%;
        background: #fff;
        z-index: 9;
        opacity: 0.5;
    }

    .d-block{
        display: block !important;
    }

    .p-18{
        padding: 18px;
    }

    a{
        &.item-list-link{
            color: rgba(0, 0, 0, 0.87);

            &:hover{
                text-decoration: none !important;
            }
        }
    }
}
