@mixin nucleus-theme($theme) {
    $accio-container-background: #fff;
    $accio-container-border-color: #e0e0e0;
    $accio-container-border-radius: 5px;

    app-nucleus{
        .page-layout{
            @media screen and (max-width: 1470px) {
                padding: 20px;
            }
        }

        .accio-container{
            overflow: hidden;
            width: 100%;
            margin-bottom: 20px;
            margin-top: 20px;

            .content-center{
                width: 1160px;
                margin: 0 auto;
            }

            h2{
                &.panel-title{
                    color: #aeadad;
                    margin-bottom: 5px;
                    text-transform: uppercase;
                    font-size: 16px;
                }
            }
        }

        .accio-container-1160{
            width: 1160px;
            margin-bottom: 20px;
        }
        
        .accio-container-850{
            float: left;
            width: 850px;
            margin-right: 10px;
        }
        
        .accio-container-300{
            float: left;
            width: 300px;
        }

        .accio-container-250{
            float: left;
            width: 250px;
        }

        .accio-container-900{
            float: left;
            width: 900px;
        }

        .item-title-container{
            width: 850px;
            margin-bottom: 5px;
        }
        
        .accio-content{
            background-color: $accio-container-background;
            margin-bottom: 20px;
            border: 1px solid $accio-container-border-color;
            border-radius: $accio-container-border-radius;
            box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
        }

        .expansion-panel-seperator{
            margin-bottom: 20px;
        }

        button{
            &.btn-accio-confirm{
                background-color: #2887EF !important;
            }
        }

        @media only screen and (max-width: 1470px) {
            .accio-container{
                .content-center{
                    width: 100%;
                }
            }

            .accio-container-1160 {
                width: 100%;
            }

            .accio-container-850{
                width: 100%;
                float: none;
            }

            .accio-container-300{
                width: 100%;
                float: none;
            }

            .accio-container-250{
                width: 100%;
            }
            .accio-container-900{
                width: 100%;
            }
        }

        @media only screen and (max-width: 1200px) {
            .accio-container{
                .content-center{
                    width: 100%;
                }
            }

            .accio-content{
                padding-left: 12px !important;
                padding-right: 15px !important;
            }
        }


        i{
            &.fa{
                font-family: FontAwesome !important;
            }
        }
    }
}